---
title: index page
writings: page
layout : page.hbs
showNav: false
---
<div class="landing-page">
    <header class="landing-header">
        <div class="logo"><img src="/hood/images/logo.png" alt=""></div>
        <h1>givin.io</h1>
        <div class="title-desc">A listing of non-profit jobs</div>
    </header>

    <div class="job-container">
        {{#each jobs}}
            <div class="job-item">
                <h3 class="job-item-title">{{title}}</h3>
                <h4 class="job-item-role">{{jobTitle}}</h4>
                <div class="job-company">{{company}}</div>
                <div class="job-description">{{jobDescription}}</div>
                <a href="{{link}}" target="_blank"><div class="job-view-button">VIEW JOB</div></a>
            </div>
            {{#compare @index 3}}
                <div class="mobile-prompt-category js-prompt-cat-container">
                    <div class="prompt-cat-bar">
                        <div class="prompt-cat-text">Filter jobs to find the one that suits you.</div>
                        <div class="prompt-cat-button js-prompt-cat-button">FILTER JOBS</div>
                                            </div>
                    <div class="prompt-cat-content js-prompt-cat-content">
                        {{#each ../../config.categories}}
                            <div class="job-role-item">
                                <div class="job-role-avatar">
                                    <img class="avatar-male" src="{{maleImagePath}}" alt="">
                                    <img class="avatar-female" src="{{femaleImagePath}}" alt="">
                                </div>
                                <div class="job-role-info">
                                    <div class="job-role-info-title">{{name}}</div>
                                    <div class="job-role-subtext">{{description}}</div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{/compare}}
            {{#compare @index 8}}
                <div class="mobile-prompt-posting js-prompt-posting-container">
                    <div class="prompt-posting-bar">
                        <div class="prompt-posting-text">Looking for how to list a job ? It's free.</div>
                        <a href="https://l.messenger.com/l.php?u=https%3A%2F%2Fmudlt.typeform.com%2Fto%2FM6EVrk&h=2AQFDqSby">
                            <div class="prompt-posting-button">POST A JOB</div>
                        </a>
                    </div>
                </div>
            {{/compare}}
        {{/each}}
    </div>
    <aside class="side-container">
        <div class="job-role-container js-cat-container">
            <h3 class="job-role-title">Filter jobs based <br />on job role</h3>
            {{#each config.categories}}
                <div class="job-role-item">
                    <div class="job-role-avatar">
                        <img class="avatar-male" src="{{maleImagePath}}" alt="">
                        <img class="avatar-female" src="{{femaleImagePath}}" alt="">
                    </div>
                    <div class="job-role-info">
                        <div class="job-role-info-title">{{name}}</div>
                        <div class="job-role-subtext">{{description}}</div>
                    </div>
                </div>
            {{/each}}
        </div>
        <div class="job-post-container">
            <div class="job-post-image">
                <i class="ion-easel"></i>
            </div>
            <h3 class="job-post-title">
                Post a job listing
            </h3>
            <div class="job-post-text">
                In case you want to post a job, you can submit us the job posting and we would add it to the list.
            </div>
            <a href="https://mudlt.typeform.com/to/M6EVrk"><div class="job-post-button">Post A Job</div></a>
        </div>

    </aside>
    <script src="/hood/js/vendor.min.js"></script>
    <script src="/hood/js/landing.js"></script>
