---
title: index page
writings: page
layout : page.hbs
showNav: false
---
<div class="landing-page">
    <div class="logo"><img src="/hood/images/logo.png" alt=""></div>
    <h1>givin.io</h1>
    <div class="title-desc">A listing of non-profit jobs</div>

    <div class="job-container">
        {{#each jobs}}
            <div class="job-item">
                <h3 class="job-item-title">{{title}}</h3>
                <h4 class="job-item-role">{{jobTitle}}</h4>
                <div class="job-company">{{company}}</div>
                <div class="job-description">{{jobDescription}}</div>
                <a href="{{link}}" target="_blank"><div class="job-view-button">VIEW JOB</div></a>
            </div>
        {{/each}}
    </div>
    <aside class="side-container">
        <div class="job-role-container">
            <h3 class="job-role-title">Filter jobs based <br />on job role</h3>
            <div class="job-role-item">
                <div class="job-role-avatar">
                    <img class="avatar-male" src="/hood/images/designer-male.png" alt="">
                    <img class="avatar-female" src="/hood/images/designer-female.png" alt="">
                </div>
                <div class="job-role-info">
                    <div class="job-role-info-title">Designer</div>
                    <div class="job-role-subtext">You are a UI designer, graphics designer, illustrator, print designer etc</div>
                </div>
            </div>
            <div class="job-role-item">
                <div class="job-role-avatar">
                    <img class="avatar-male" src="/hood/images/manager-male.png" alt="">
                    <img class="avatar-female" src="/hood/images/manager-female.png" alt="">
                </div>
                <div class="job-role-info">
                    <div class="job-role-info-title">Manager</div>
                    <div class="job-role-subtext">You are into managerial and adminstrative work.</div>
                </div>
            </div>
            <div class="job-role-item">
                <div class="job-role-avatar">
                    <img class="avatar-male" src="/hood/images/developer-male.png" alt="">
                    <img class="avatar-female" src="/hood/images/developer-female.png" alt="">
                </div>
                <div class="job-role-info">
                    <div class="job-role-info-title">Developer</div>
                    <div class="job-role-subtext">You are a tech guy doing frontend, backend, mobile apps, dev-ops etc</div>
                </div>
            </div>
            <div class="job-role-item">
                <div class="job-role-avatar">
                    <img class="avatar-male" src="/hood/images/volunteer-male.png" alt="">
                    <img class="avatar-female" src="/hood/images/volunteer-female.png" alt="">
                </div>
                <div class="job-role-info">
                    <div class="job-role-info-title">Volunteer</div>
                    <div class="job-role-subtext">You are just looking to help in any way. Volunteers, fellowships, event management etc</div>
                </div>
            </div>

        </div>
        <div class="job-post-container">
            <div class="job-post-image">
                <i class="ion-easel"></i>
            </div>
            <h3 class="job-post-title">
                Post a job listing
            </h3>
            <div class="job-post-text">
                In case you want to post a job, you can submit us the job posting and we would add it to the list.
            </div>
            <div class="job-post-button">
                Post A Job
            </div>
        </div>

    </aside>
